<p-panel
  header="Consulta de Cupos"
  styleClass="mb-4 shadow-2 border-round-lg"
  [toggleable]="true"
>
  <form class="p-fluid px-4 py-2">
    <div class="mb-2">
      <label class="font-bold text-lg mb-2 block"
        >Cargar CSV de Información de Alumnos:</label
      >
      <p-fileUpload
        #fileUpload
        name="csvFile"
        mode="basic"
        chooseLabel="📁 Seleccionar archivo CSV"
        accept=".csv"
        [auto]="true"
        [customUpload]="true"
        (uploadHandler)="archivoCargadoEvent.emit($event.files[0])"
        (onSelect)="seleccionarArchivo($event)"
        (clearHandler)="limpiarArchivo()"
        styleClass="p-button-outlined p-button-info w-full"
      ></p-fileUpload>
      <div *ngIf="mensajeError" class="text-red-500 mt-2">
        {{ mensajeError }}
      </div>
    </div>

    <div
      *ngIf="archivoCargado && !mensajeError"
      class="flex align-items-center gap-2 text-green-600 mb-2"
    >
      <i class="pi pi-check-circle text-xl"></i>
      <span class="text-md">Archivo cargado correctamente</span>
    </div>
    <div
      *ngIf="!archivoCargado && !mensajeError"
      class="flex align-items-center gap-2 text-red-500 mb-2"
    ></div>

    <div
      class="flex justify-content-center align-items-center gap-3 mt-3 flex-wrap"
    >
      <p-button
        icon="pi pi-trash"
        label="Borrar archivo"
        severity="danger"
        class="p-button-rounded p-button-outlined"
        (click)="limpiarArchivo()"
      ></p-button>
      <p-button
        icon="pi pi-search"
        label="Consultar"
        severity="success"
        class="p-button-rounded p-button-raised shadow-2"
        (click)="consultar()"
      ></p-button>
    </div>

    <div
      *ngIf="loading()"
      class="flex flex-column align-items-center justify-content-center mt-4 gap-2"
    >
      <i class="pi pi-spin pi-spinner text-3xl text-primary"></i>
      <span class="text-md text-primary font-medium">Procesando...</span>
    </div>
  </form>
</p-panel>
