<p-panel
  header="Asistente de inscripción"
  styleClass="mb-6 shadow-3 border-round-xl"
  [toggleable]="true"
>
  <form class="p-fluid px-6 py-4">
    <div class="mb-4">
      <label class="font-bold text-xl mb-3 block"
      >Cargar peticiones de Alumnos:</label
      >
      <p-fileUpload
        #fileUpload
        name="csvFile"
        mode="basic"
        chooseLabel="📁 Seleccionar archivo CSV"
        accept=".csv"
        [auto]="true"
        [customUpload]="true"
        (uploadHandler)="archivoCargadoEvent.emit($event.files[0])"
        (onSelect)="seleccionarArchivo($event)"
        chooseIcon="pi pi-upload"
        chooseStyleClass="custom-upload-button"
        [invalidFileTypeMessageDetail]="'error con el archivo cargado'"
        [invalidFileTypeMessageSummary]="''"
      >
      </p-fileUpload>

      <div *ngIf="mensajeError" class="text-red-600 mt-3 font-semibold">
        {{ mensajeError }}
      </div>
    </div>

    <div *ngIf="archivoCargado && !mensajeError"
      class="flex align-items-center gap-3 text-green-700 mb-4 font-semibold"
    >
      <i class="pi pi-check-circle text-2xl"></i>
      <span>Archivo cargado correctamente</span>
    </div>
  </form>

  <div class="caja-lottie">
    <ng-lottie
      [options]="options"
      style="width: 300px; height: 300px;"
    ></ng-lottie>
    <p class="mt-4 text-center text-blue-700 font-medium text-lg">
      ¡Carga el archivo CSV para continuar!
    </p>
  </div>
</p-panel>
