<p-panel
  header="Consulta de Cupos"
  styleClass="mb-4 shadow-2 border-round-lg"
  [toggleable]="true"
>
  <form class="p-fluid px-4 py-2">
    <div class="mb-2">
      <label class="font-bold text-lg mb-2 block"
        >Cargar CSV de Información de Alumnos:</label
      >
      <p-fileUpload
        #fileUpload
        name="csvFile"
        mode="basic"
        chooseLabel="📁 Seleccionar archivo CSV"
        accept=".csv"
        [auto]="true"
        [customUpload]="true"
        (uploadHandler)="archivoCargadoEvent.emit($event.files[0])"
        (onSelect)="seleccionarArchivo($event)"
        styleClass="p-button-outlined p-button-info w-full"
      ></p-fileUpload>
      <div *ngIf="mensajeError" class="text-red-500 mt-2">
        {{ mensajeError }}
      </div>
    </div>

    <div
      *ngIf="archivoCargado && !mensajeError"
      class="flex align-items-center gap-2 text-green-600 mb-2"
    >
      <i class="pi pi-check-circle text-xl"></i>
      <span class="text-md">Archivo cargado correctamente</span>
    </div>
    <div
      *ngIf="!archivoCargado && !mensajeError"
      class="flex align-items-center gap-2 text-red-500 mb-2"
    ></div>
  </form>
</p-panel>
