<!-- Previsualizador de comisiones -->
<previsualizador-comisiones
  *ngIf="comisiones.length > 0"
  [comisiones]="comisiones">
</previsualizador-comisiones>

<!-- Botones de navegación dinámicos -->
<div class="flex mb-5 gap-2 justify-content-end">
  <p-button *ngFor="let i of [0, 1, 2]"
            (onClick)="stepActived = i"
            [rounded]="true"
            [label]="(i + 1).toString()"
            styleClass="w-2rem h-2rem p-0"
            [outlined]="stepActived !== i">
  </p-button>
</div>

<p-steps
  [activeIndex]="stepActived"
  [model]="items"
  (onChange)="onStepChange($event)">
</p-steps>

<!-- Componentes por paso -->
<asistente-paso1-carga *ngIf="stepActived === 0" (archivoCargado)="onArchivoCargado($event)"></asistente-paso1-carga>
<asistente-paso2-previsualizacion *ngIf="stepActived === 1"
                                  [filePeticiones]="filePeticiones"
                                  [loading]="loading()"
                                  (consultar)="consultar()"
                                  (limpiar)="limpiarTodo()"
                                  (previsualizacion)="onPrevisualizacion($event)">
</asistente-paso2-previsualizacion>
<asistente-paso3-sugerencias *ngIf="stepActived === 2"
                             [estado]="estado"
                             [sugerencias]="sugerenciasDeInscripcion"
                             [historiaAcademica]="historiaAcademicaList"
                             (verHistoria)="agregarHistoriaAcademica($event)"
                             (eliminarHistoria)="eliminarHistoriaAcademica($event)"
                             (cambioSugerencias)="agregarSugerenciasPreAsignadaAComision($event)"
                             (asignar)="asignarAComision($event)">
</asistente-paso3-sugerencias>
