<previsualizador-comisiones
                            #previsualizadorComisiones
                            [comisiones]="comisiones"
                            (desasignarEstudiante)="confirmarDesasignacion($event)">
</previsualizador-comisiones>

<!-- Botones de navegación dinámicos -->
<div class="flex mb-1 gap-2 justify-content-end">
  <p-button *ngFor="let i of [0, 1, 2]"
            (onClick)="stepActived = i"
            [rounded]="true"
            [label]="(i + 1).toString()"
            styleClass="w-2rem h-2rem p-0"
            [outlined]="stepActived !== i">
  </p-button>
</div>

<p-steps
  [activeIndex]="stepActived"
  [model]=" [
    { label: 'Carga' },
    { label: 'Previsualización' },
    { label: 'Sugerencias' }
  ]"
  (activeIndexChange)="cambiarAStep($event)">
</p-steps>

<!-- Componentes por paso -->
<asistente-paso1-carga *ngIf="stepActived === 0"
                       (archivoCargado)="onArchivoCargado($event)"
                       (onChangeEstado)="modificarStep($event)"></asistente-paso1-carga>
<asistente-paso2-previsualizacion *ngIf="stepActived === 1"
                                  [filePeticiones]="filePeticiones"
                                  [loading]="loading()"
                                  (consultar)="consultar()"
                                  (limpiar)="limpiarTodo()"
                                  (onChangeEstado)="modificarStep($event)">
</asistente-paso2-previsualizacion>

<asistente-paso3-sugerencias *ngIf="stepActived === 2"
                             [estado]="estado"
                             [sugerencias]="sugerenciasDeInscripcion"
                             (asignar)="asignarAComision($event)"
                             (desasignar)="desasignarAComision($event)"
                             (confirmarAsignacion)="confirmarAsignacion($event)"
                             (reintentarConsultaDeSugerencias)="estado='cargando';consultar()"
                             [comisiones]="comisiones"
                              >
</asistente-paso3-sugerencias>

