<div class="grid">
  <ng-container *ngIf="estado === 'mostrandoSugerencias'; else sinSugerencias">
    <div [ngClass]="listaDehistoriaAcademica.length > 0 ? 'col-10' : 'col-12'">
      <tabla-sugerencia-inscripcion
        [sugerenciasDeInscripcion]="sugerencias"
        (mostrarHistoriaAcademica)="verHistoria($event)"
        (cambioDeSugerenciasPreAsignadas)="cambioSugerencias.emit($event)"
        (asignarSugerenciasPreasignadas)="confirmarAsignacion.emit($event)"
        (preAsignarAComision)="asignar.emit($event)"
        (consultarCupo)="consultarCupo($event)"
        (eliminarPreasignacionComision)="desasignar.emit($event)">
      </tabla-sugerencia-inscripcion>
    </div>

    <div class="col-2" *ngIf="listaDehistoriaAcademica.length > 0">
      <historia-academica-list
        [historiaAcademicaList]="listaDehistoriaAcademica"
        (eliminarHistoria)="eliminarHistoria($event)">
      </historia-academica-list>
    </div>
    <p-toast key="advertenciaDeFaltaDeCupo" position="center" baseZIndex="10000" />
  </ng-container>

  <ng-template #sinSugerencias>
    <div class="col-12">
      <animacion-placeholder
        [path]="seleccionarAnimacionSinSugerencias()"
        [mensaje]="seleccionarMsjSinSugerencias()"
        [botonLabel]="estado === 'error' ? 'Reintentar' : undefined"
        [accionBoton]="reintentarAccion"
        [mostrarBoton]="estado === 'error'"
        [width]="500"
        [height]="500">
      </animacion-placeholder>
    </div>
  </ng-template>
</div>
