<div *ngIf="errorMensaje" class="text-red-500 mb-3">
  {{ errorMensaje }}
</div>

<div *ngIf="loading()" class="flex justify-content-center my-3">
  <animacion-placeholder
    path="/assets/animaciones/loading.json"
    mensaje="Aún no cargaste un archivo de peticiones"
    [width]="500"
    [height]="500">
  </animacion-placeholder>
</div>

<p-dialog
  [visible]="errorCsv.length>0"
  (visibleChange)="resetearError()"
  [modal]="true"
  [dismissableMask]="true"
  [closable]="true"
  [style]="{ width: '30rem' }"
  header="⚠️ Archivo inválido">
        <animacion-placeholder
          [path]="'/assets/animaciones/errorFormato.json'"
          [mensaje]="errorCsv"
          [width]="300"
          [height]="300">
        </animacion-placeholder>
</p-dialog>

<div *ngIf="datosEnriquecidos().length > 0">
  <h4 class="mb-3">Previsualización de Pedidos</h4>

  <p-table
    #dt
    [value]="datosEnriquecidos()"
    [paginator]="true"
    [rows]="10"
    [rowsPerPageOptions]="[5, 10, 15, 20]"
    [responsiveLayout]="'scroll'"
    [tableStyle]="{ 'min-width': '100%' }"
    [globalFilterFields]="['dni', 'nombre']"
    class="p-datatable-sm p-datatable-striped p-datatable-hoverable-rows"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>DNI</th>
        <th>Nombre</th>
        <th>Coeficiente</th>
        <th>Total Inscripciones</th>
        <th>Total Aprobadas</th>
        <th>Correlativas</th>
        <th>Cursadas Anteriores</th>
        <th>Inscripciones Actuales</th>
        <th>Materias Solicitadas</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row>
      <tr>
        <td>{{ row.dni }}</td>
        <td>{{ row.nombre }}</td>
        <td>{{ row.historiaAcademica?.coeficiente }}</td>
        <td>{{ row.historiaAcademica?.totalInscripcionesHistoricas }}</td>
        <td>{{ row.historiaAcademica?.totalHistoricasAprobadas }}</td>
        <td>{{ row.historiaAcademica?.cumpleCorrelativas ? 'Sí' : 'No' }}</td>
        <td>{{ row.historiaAcademica?.codigosCursadasAnteriores?.join(', ') }}</td>
        <td>{{ row.historiaAcademica?.codigosInscripcionesActuales?.join(', ') }}</td>
        <td>
          <div *ngFor="let m of row.materias" class="mb-3">
            <strong>{{ m.nombreMateria }} ({{ m.codigoMateria }})</strong>
            <div>
              <em>Correlativa:</em>
              {{ m.cumpleCorrelativa ? 'Sí' : 'No' }}
            </div>
            <p-listbox
              [options]="formatCodigoList(m.codigosComisionesSolicitadas)"
              optionLabel="label"
              [style]="{ width: '15rem' }"
              scrollHeight="120px"
              [virtualScroll]="true"
              [virtualScrollItemSize]="5"
            ></p-listbox>
          </div>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="9">No se encontraron registros.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
