<div *ngIf="errorMensaje" class="text-red-500 mb-3">
  {{ errorMensaje }}
</div>

<div *ngIf="loading()" class="flex justify-content-center my-3">
  <i class="pi pi-spin pi-spinner text-2xl"></i>
</div>

<div *ngIf="datosEnriquecidos().length > 0">
  <h4 class="mb-3">Previsualización de Pedidos</h4>

  <p-table
    #dt
    [value]="datosEnriquecidos()"
    [paginator]="true"
    [rows]="15"
    [rowsPerPageOptions]="[5, 10, 15, 20]"
    [responsiveLayout]="'scroll'"
    [tableStyle]="{ 'min-width': '100%' }"
    [globalFilterFields]="['dni', 'nombre', 'materia']"
    class="p-datatable-sm p-datatable-striped p-datatable-hoverable-rows"
  >
    <!-- Filtros -->
    <ng-template pTemplate="header">
      <tr>
        <th>
          <p-columnFilter
            type="text"
            field="dni"
            placeholder="Filtrar DNI"
            ariaLabel="Filtrar por DNI"
            [style]="{ width: '200px' }"
          />
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="codigosComisiones"
            placeholder="Filtrar Comisiones"
            ariaLabel="Filtrar por Comisión"
            [style]="{ width: '200px' }"
          />
        </th>
      </tr>
      <tr>
        <th>DNI</th>
        <th>Nombre</th>
        <th>Materia</th>
        <th>Comisiones</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row>
      <tr>
        <td><i class="pi pi-id-card mr-2"></i>{{ row.dni }}</td>
        <td>{{ row.nombre }}</td>
        <td>{{ row.materia }}</td>
        <td>
          <p-listbox
            [options]="formatCodigoList(row.comisiones)"
            optionLabel="label"
            [style]="{ width: '15rem' }"
            scrollHeight="120px"
            [virtualScroll]="true"
            [virtualScrollItemSize]="5"
          ></p-listbox>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">No se encontraron registros.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
